# requirements.txt
# Web Framework
flask
flask-cors

# Google Firebase
firebase-admin

# Data Processing & ML
pandas
scikit-learn
scikit-optimize
imbalanced-learn
catboost
joblib
google-generativeai
gunicorn

# PDF & Utils
pypdf
requests
pytz
